body
{
	font-family: Calibri, sans-serif;
}

input
{
	padding: 2px;
	border: solid 1px #800;
	font-family: inherit;
	font-size: inherit;
}
input:focus
{
	border: solid 1px #f00;
	outline: none;
}
input[type="submit"]
{
	background: #fff;
	padding: 5px;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
}
